{% extends "base.html" %}
{% block title %} New Blog  {% endblock %}

{% block content %}

<dev class="container my-s">
<h1>Create a New Blog</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="image" class="form-label"><h3>Blog Image </h3> </label>
        <input type="file" class="form-control" id="image" name="image">
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Blog Text</label>
        <textarea class="form-control" id="text" name="blog" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
</dev>